<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='dash_styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5">
            <div class="profile-header d-flex justify-content-between align-items-center">
                <!-- Profile Picture -->
                <div class="profile-picture">
                    <!-- Use the profile_picture from the database or fallback to default.png -->
                    <img src="{{ url_for('static', filename='uploads/profile_pics/' + (user_details['profile_picture'] if user_details['profile_picture'] else 'default.png')) }}?{{ timestamp }}" alt="Profile Picture" class="img-thumbnail">
                </div>
                
                <h2>Hello, {{ user_details.first_name }}</h2>

                <!-- Edit Profile Button -->
                <div class="btn-group">
                    <a href="{{ url_for('edit_profile') }}" class="btn btn-warning btn-edit">Edit Profile</a>
                </div>
            </div>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user_details.first_name }}</td>
                        <td>{{ user_details.middle_name }}</td>
                        <td>{{ user_details.last_name }}</td>
                        <td>{{ user_details.contact_number }}</td>
                        <td>{{ user_details.email }}</td>
                        <td>{{ user_details.address }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>

        <script>
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, null, window.location.href);
            };

            // Optional event listener on logout click
            window.addEventListener('beforeunload', function(event) {
                fetch('/logout', { method: 'POST' });
            });
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
</html>
