<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="{{ url_for('static', filename='reset_password.css') }}" rel="stylesheet"></head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="password">Enter New Password</label>
            <input type="password" name="password" required placeholder="Password">
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
